@model CreateUnitModel
@{
    ViewData["Title"] = "Create Unit";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Race"></label>
                <select asp-for="Race" asp-items="@Html.GetEnumSelectList<Race>()" class="form-control"></select>
                <span asp-validation-for="Race" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MineralCost"></label>
                <input asp-for="MineralCost" class="form-control" min="50" max="2000" />
                <span asp-validation-for="MineralCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GasCost"></label>
                <input asp-for="GasCost" class="form-control" min="0" max="2000" />
                <span asp-validation-for="GasCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Health"></label>
                <input asp-for="Health" class="form-control" min="1" max="5000" />
                <span asp-validation-for="Health" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Damage"></label>
                <input asp-for="Damage" class="form-control" min="1" max="500" />
                <span asp-validation-for="Damage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Building"></label>
                <select name="Building" class="form-control">
                    @foreach (var race in Model.Buildings)
                    {
                        <optgroup label="@race.Key">
                            @foreach (var building in race.Value)
                            {
                                <option value="@building">@building</option>
                            }
                        </optgroup>
                    }
                </select>

                <span asp-validation-for="Building" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image"></label>
                <input type="file" name="image" accept=".png" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-default">Add unit</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}