@model UserListingViewModel
@{
    ViewData["Title"] = "AllUsers";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <th>@user.Username</th>
                <th>@user.Email</th>
                <th>
                    <form class="text-center" method="post" asp-controller="Users" asp-action="AddUserResources" asp-route-userId="@user.Id">
                        <div class="row">
                            <div class="col-md-6">
                                Minerals: <input asp-for="@Model.Minerals" min="0" max="10000" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                Gas: <input asp-for="@Model.Gas" min="0" max="10000" class="form-control" />
                            </div>
                            <button type="submit" class="btn btn-success">Change</button>
                        </div>
                    </form>
                </th>
            </tr>
        }
    </tbody>
</table>

@if (Model.TotalUsers > Model.Users.Count())
{
    <ul class="pagination">
        <li class="@(Model.CurrentPage == 1 ? "disabled" : string.Empty)">
            <a asp-controller="Users" asp-action="AllUsers" asp-route-page="@Model.PreviousPage" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="@(Model.CurrentPage == Model.TotalPages ? "disabled" : string.Empty)">
            <a asp-controller="Users" asp-action="AllUsers" asp-route-page="@Model.NextPage" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
}