@model UserBuyBuildingsViewModel
@{
    ViewData["Title"] = "Buy Building";
}

<h2 class="darkBackground">@ViewData["Title"]</h2>

@await Html.PartialAsync("_UserResources")

@if (Model.Buildings.Count() == 0)
{
    <h3 class="darkBackground">No more building to buy</h3>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center">Image</th>
                <th class="text-center">Name</th>
                <th class="text-center">Mineral cost</th>
                <th class="text-center">Gas cost</th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody class="text-center">
            @foreach (var building in Model.Buildings)
            {
                <tr>
                    <td class="col-md-2"><img src="data:image;base64,@Convert.ToBase64String(building.Image)" width="100" height="100" /></td>
                    <td class="col-md-2">@building.Name</td>
                    <td class="col-md-2">@building.MineralCost</td>
                    <td class="col-md-2">@building.GasCost</td>
                    <td class="col-md-4">
                        <form method="post" asp-route-buildingid="@building.Id">
                            <input type="submit" value="Buy" class="btn btn-success btn-lg" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}