@model UserBuyUnitsViewModel
@{
    ViewData["Title"] = "Buy Unit";
}

<h2 class="darkBackground">@ViewData["Title"]</h2>

@await Html.PartialAsync("_UserResources")

@{
    var units = (12 - Model.BoughtUnits.Count()) / 2;
}

<div class="row text-center darkBackground">
    <div class="col-lg-@(units)">
        <figure><img src="~/images/Supply.png" /></figure>
        <figcaption>@Model.BoughtUnits.Sum(a => a.Quantity)</figcaption>
    </div>
    @foreach (var unit in Model.BoughtUnits)
    {
        <div class="col-lg-1">
            <figure><img src="data:image;base64,@Convert.ToBase64String(unit.Image)" width="50" height="50" /></figure>
            <figcaption>@unit.Quantity</figcaption>
        </div>
    }
</div>

<div class="row darkBackground">
    <div class="col-md-5"></div>
    <div class="col-md-1">
        <img width="20" src="~/images/Minerals.png" /><div id="sumM">0</div>
    </div>
    <div class="col-md-1">
        <img width="20" src="~/images/Gas.png" /><div id="sumG">0</div>
    </div>
    <div class="col-md-5"></div>
</div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-center">Image</th>
            <th class="text-center">Name</th>
            <th class="text-center">Mineral cost</th>
            <th class="text-center">Gas cost</th>
            <th class="text-center">Health</th>
            <th class="text-center">Damage</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var unit in Model.Units)
        {
            <tr class="text-center">
                <th class="col-md-1"><img src="data:image;base64,@Convert.ToBase64String(unit.Image)" width="50" height="50" /></th>
                <td class="col-md-1">@unit.Name</td>
                <td class="col-md-1">@unit.MineralCost</td>
                <td class="col-md-1">@unit.GasCost</td>
                <td class="col-md-1">@unit.Health</td>
                <td class="col-md-1">@unit.Damage</td>
                <td class="col-md-3">
                    <form method="post" asp-route-unitid="@unit.Id" asp-route-quantity="@unit.Quantity">
                        <select name="Quantity" onchange='MineralsSum(this.value * @unit.MineralCost); GasSum(this.value * @unit.GasCost)' class="form-control">
                            <option value="1">1</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                        </select>
                        <input type="submit" value="Buy" class="btn btn-success" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>