@model UserBuyUnitsViewModel
@{
    ViewData["Title"] = "Buy Unit";
}

<h2 class="darkBackground">@ViewData["Title"]</h2>

@await Html.PartialAsync("_UserResources")

<div class="row text-center darkBackground">
    <div class="col-lg@((Model.BoughtUnits.Count()-12)/2)"></div>
    @foreach (var unit in Model.BoughtUnits)
    {
        <div class="col-lg-1"><img src="data:image;base64,@Convert.ToBase64String(unit.Image)" width="50" height="50" />@unit.Quantity</div>
    }
</div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Mineral cost</th>
            <th>Gas cost</th>
            <th>Health</th>
            <th>Damage</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var unit in Model.Units)
            {
            <tr>
                <th class="col-md-1"><img src="data:image;base64,@Convert.ToBase64String(unit.Image)" width="50" height="50" /></th>
                <td class="col-md-1">@unit.Name</td>
                <td class="col-md-1">@unit.MineralCost</td>
                <td class="col-md-1">@unit.GasCost</td>
                <td class="col-md-1">@unit.Health</td>
                <td class="col-md-1">@unit.Damage</td>
                <td class="col-md-3">
                    <form method="post" class="form-inline" asp-route-unitid="@unit.Id" asp-route-quantity="@unit.Quantity">
                        <select name="Quantity" class="form-control">
                            <option value="1">1</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                        </select>
                        <input type="submit" value="Buy" class="btn btn-success" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>